extends layout

block content
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Better Than This</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>

  div.container-fluid
    div#above.row.row-eq-height
      div#above-left.col-lg
        h1.title Better Than This


      div#above-right.col-lg

        div#above-right-overlay
          p For over 40 years Britain has been at the forefront of European politics. We have helped to build a strong and safe Europe. A whole continent is at peace because of the work Britain put in.

          p Britain is a country with moral standards and values. These standards have been implemented in our work with the EU by incorporating rights for workers, access to healthcare and core human rights values in European charters. But these values are at risk if we leave the EU. Qualified EU staff are unable to work in this country, animal welfare standards are in decline, and Parliament shutting down is threatening our British democracy.

          p Leaving the EU will hurt the most vulnerable in our communities, give us lower living standards, and isolate us from the rest of Europe. We have worked hard for 40 years to make the EU the strong organisation it is today, and to walk away would be a massive waste. We are better than this.

    div.row.justify-content-center
      div.col-md
        img.img-fluid(src='/images/westminster.jpg')

        p After three years of endless back and forth, we are still facing a No Deal Brexit with no information about what a future Britain might look like.
        p The Government is planning to shutdown parliament to prevent debate over its plans to deliver Brexit at any cost. Parliament has not been suspended in this way since before 1979. 
        p (We Are) 
          a(href='https://www.facebook.com/betterthanthisuk') Better Than This &gt;&gt;

      div.col-md
        img.img-fluid(src='/images/nurse-patient.jpg')

        p Qualified nurses from European countries help the NHS provide health and care services.
        p Immigration because it brings benefits to our essential services and yet we are told that we must end Freedom of Movement <em>at any cost</em>.
        p (We Are) 
          a(href='https://www.facebook.com/betterthanthisuk') Better Than This &gt;&gt;
          
      div.col-md
        img.img-fluid(src='/images/happy-cow.jpg')
        
        p Animal welfare and hygiene standards are regulated in the EU. 80% of British animal welfare legislation comes from EU law.

        p Trade deals outside the EU would open Britain up to lower standards and worse conditions for animals. For example, the USA gives growth hormones to their cows and still uses conventional battery cages for chickens.

        p (We Are) 
          a(href='https://www.facebook.com/betterthanthisuk') Better Than This &gt;&gt;
