extends layout

block content
  div.container
    h1.No-Deal-Brexit-Make No Deal Brexit. Make it stop...
    
    div.row.justify-content-center
      div.col-6
        blockquote.quote &quot;Brexit is not a business disrupter, it's a business bankrupter.&quot;
        label.quote-credit Shaun Loughlin, FreestyleXtreme Sportswear

    div.row.justify-content-center
      div.col-6
        p After three years of endless back and forth, we are still facing a No Deal Brexit with no information about what a future Britain might look like.
        p The Government is planning to shutdown parliament to prevent debate over its plans to deliver Brexit at any cost. Parliament has not been suspended in this way since before 1979. 

  
    div.row.justify-content-center
      div.col-8
        img.img-fluid(src='/images/freshly-chlorinated-chicken.jpg')