extends layout

block content
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Better Than This</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="/privacy">Privacy</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  div.container-fluid
    div#above.row.row-eq-height
      div#above-left.col-lg
        h1.title Better Than This


      div#above-right.col-lg

        div#above-right-overlay
          p The UK has played a leading role in Europe for over 40 years.

          p From being a continent repeatedly torn apart by conflict, we have helped to make Europe a strong and safe place where countries work together as partners, where businesses can trade seamlessly with each other across borders and where citizens can travel freely.

          p Britain has led the way in supporting new  rights for workers and free access to healthcare for all, as well as helping to guarantee core human rights and create the world’s biggest single market.

          p But all of this is at risk if we leave the EU.

          p Brexit will hurt the most vulnerable in our communities, threaten jobs, lower living standards and isolate us from the rest of Europe.

          p We have worked hard for decades to make the EU work for Britain and while it is far from perfect, to walk away from our nearest neighbours now would be a loss we would feel for years to come. 

    hr

    div.row.justify-content-center
      div.col-md
        img.img-fluid(src='/images/westminster.jpg')

        p After more than three years in limbo, we face the prospect of crashing out of the EU without a deal at the end of October.

        p The Government’s own analysis says a No Deal Brexit will have a disastrous effect on the economy.

        p Meanwhile there is no information about what a future Britain might look like, while most businesses report that they are unprepared for what lies ahead.

        p The Government is shutting down Parliament in order to deliver Brexit at any cost – and with no mandate from the people.

        div.call-to-action
          a(href='https://www.facebook.com/betterthanthisuk') (We Are) Better Than This &gt;&gt;

      div.col-md
        img.img-fluid(src='/images/nurse-patient.jpg')

        p Qualified nurses, doctors and other healthcare professionals from Europe are vital in helping our under-pressure NHS to function.

        p EU immigrants bring benefits to our essential services but the Government says it wants to end freedom of movement.

        div.call-to-action
          a(href='https://www.facebook.com/betterthanthisuk') (We Are) Better Than This &gt;&gt;
          
      div.col-md
        img.img-fluid(src='/images/happy-cow.jpg')
        
        p Animal welfare and hygiene standards are highly regulated in the EU.

        p In fact around 80 per cent our animal welfare legislation comes from EU law.

        p Doing trade deals outside the EU would open Britain up to lower food standards and inferior animal welfare standards. 
        
        div.call-to-action
          a(href='https://www.facebook.com/betterthanthisuk') (We Are) Better Than This &gt;&gt;
