extends layout

block content
  div.container-fluid
    h1.title Do or Die? <br /> (We Are) <br /> Better Than This...

    div.row.justify-content-center
      div.col-md
        img.img-fluid(src='/images/westminster.jpg')

        p After three years of endless back and forth, we are still facing a No Deal Brexit with no information about what a future Britain might look like.
        p The Government is planning to shutdown parliament to prevent debate over its plans to deliver Brexit at any cost. Parliament has not been suspended in this way since before 1979. 
        p (We Are) Better Than This 


      div.col-md
        img.img-fluid(src='/images/nurse-patient.jpg')

        p Qualified nurses from European countries help the NHS provide health and care services.
        p Immigration because it brings benefits to our essential services and yet we are told that we must end Freedom of Movement <em>at any cost</em>.
        p (We Are) Better Than This 
          
      div.col-md
        img.img-fluid(src='/images/freshly-chlorinated-chicken.jpg')
        
        p After three years of endless back and forth, we are still facing a No Deal Brexit with no information about what a future Britain might look like.
        p The Government is planning to shutdown parliament to prevent debate over its plans to deliver Brexit at any cost. Parliament has not been suspended in this way since before 1979. 
        p (We Are) Better Than This 
